.popularDishes_main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}
.popularDishes_main h1{
    margin-bottom: 5rem;
}
.slick-slider{
    width: 90%;
}
.slick-track{
    display: flex !important;
    justify-content: space-between;
}
.slick-slide{
    width: 40rem !important;
}
.slick-prev:before, .slick-next:before{
    color:  #50754C !important;
}

@media (max-width: 425px) {
    .slick-slider{
        width: 70%;
    }
}