.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginForm {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.loginForm h2 {
  margin-bottom: 2rem;
}
.formGroup {
  margin-bottom: 1.5rem;
}
.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}
.formGroup input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.rememberMeForgetPassword{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.rememberMe{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.textButton{
  border: none;
  color: #50754C;
  background-color: transparent;

}
.signInButton{
  display: flex;
  align-items: center;
  justify-content: right;
}
.signInButton .greenbutton{
  width: 100% !important;
}
.signInWithGoogle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}
.googleButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #DB4437;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}
.googleButton:hover {
  background-color: #efefef;
}
.googleButton .googleLogo {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 0.5em;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjzC2JyZDZ_RaWf0qp11K0lcvB6b6kYNMoqtZAQ9hiPZ4cTIOB') no-repeat center center;
  background-size: contain;
}
.googleButton svg {
  margin-right: 0.5em;
}
.createAccount{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.createAccount h6{
  margin: 0 !important;
}

