.menuHeading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 0 5rem 0;
}
.menuContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 0rem 20rem 5rem 20rem;
  flex-wrap: wrap;
}