.CartDetails_Main{
    display: flex;
    padding-top: 10rem;
    flex-direction: column;
    min-height: 75vh;
}
.cartDetails_Heading{
    margin: 0 0 4rem 35rem;
    font-weight: 600;
    font-size: 3.5rem;
}
.subTotal{
    align-self: flex-end;
    margin: 0 30rem 0 0 ;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.subTotal span{
    font-weight: 600;
    font-size: 2.5rem;
}
.CartDetails_Main .greenbutton{
    width: 20rem;
    align-self: flex-end;
    margin: 0 30rem 3rem 0 ;
}

@media (max-width: 1024px) {
    .subTotal{
        margin: 0 20rem 1rem 0;
    }
    .CartDetails_Main .greenbutton{
        margin: 0 20rem 3rem 0 ;
    }
}
  
@media (max-width: 768px) {
    .subTotal{
        margin: 0 10rem 1rem 0;
    }
    .CartDetails_Main .greenbutton{
        margin: 0 10rem 3rem 0 ;
    }
}

@media (max-width: 425px) {
    .cartDetails_Heading{
        margin: 0;
        padding-left: 2rem;
    }
    .subTotal{
        margin: 2rem 0;
        align-self: center;
    }
    .CartDetails_Main .greenbutton{
        margin: 0 0 2rem  0 ;
        align-self: center;
    }
}