.CartDetails_Main{
    display: flex;
    padding-top: 10rem;
    flex-direction: column;
}
.cartDetails_Heading{
    margin: 0 0 4rem 35rem;
    font-weight: 600;
    font-size: 3.5rem;
}
.subTotal{
    align-self: flex-end;
    margin: 0 35rem 0 0 ;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.subTotal span{
    font-weight: 600;
    font-size: 2.5rem;
}
.CartDetails_Main .greenbutton{
    width: 20rem;
    align-self: flex-end;
    margin: 0 35rem 3rem 0 ;
}